.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    
}
.grid div {
    width: 20px;
    height: 20px;
} 


.pac-dot {
    background-color: darkslategray;   
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: aquamarine;
}

.power-pellet {
    background-color: hotpink;
    border-radius: 10px;
}

.blinky {
    background-color: coral;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: lavender;     
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.scared-ghost {
    background-color: plum;
}

.formStyle{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc; 
    border-radius: 6px; 
    margin: 10px;
    font-size: 20px;
}

#formButton{
    display: flex;
    margin: auto;
}

h3{
    color: blue;
}
